<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения и инструкции по настройке приложения ASP.NET см. по адресу
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" /></configSections>
  <connectionStrings>
    <!--Work
    <add name="ORCEntities" connectionString="metadata=res://*/Concrete.DbContext.ORC.ORCModel.csdl|res://*/Concrete.DbContext.ORC.ORCModel.ssdl|res://*/Concrete.DbContext.ORC.ORCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB2;initial catalog=NSD2;integrated security=True;Trusted_Connection=Yes;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OBDEntities" connectionString="metadata=res://*/Concrete.DbContext.OBD.OBDModel.csdl|res://*/Concrete.DbContext.OBD.OBDModel.ssdl|res://*/Concrete.DbContext.OBD.OBDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TSC-SRV;initial catalog=OBD;integrated security=True;Trusted_Connection=Yes;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MesplanEntities" connectionString="metadata=res://*/Concrete.DbContext.Mesplan.ModelMesplan.csdl|res://*/Concrete.DbContext.Mesplan.ModelMesplan.ssdl|res://*/Concrete.DbContext.Mesplan.ModelMesplan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TSC-SRV;initial catalog=Mesplan;integrated security=True;Trusted_Connection=Yes;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--Home-->
    <add name="ORCEntities" connectionString="metadata=res://*/Concrete.DbContext.ORC.ORCModel.csdl|res://*/Concrete.DbContext.ORC.ORCModel.ssdl|res://*/Concrete.DbContext.ORC.ORCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LHO63TH;initial catalog=RailwayDb2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OBDEntities" connectionString="metadata=res://*/Concrete.DbContext.OBD.OBDModel.csdl|res://*/Concrete.DbContext.OBD.OBDModel.ssdl|res://*/Concrete.DbContext.OBD.OBDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LHO63TH;initial catalog=RailwayDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MesplanEntities" connectionString="metadata=res://*/Concrete.DbContext.Mesplan.ModelMesplan.csdl|res://*/Concrete.DbContext.Mesplan.ModelMesplan.ssdl|res://*/Concrete.DbContext.Mesplan.ModelMesplan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LHO63TH;initial catalog=RailwayDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Step 2: Create security connection string
    Install-Package EntityFramework.SqlServerCompact
    2 connection one for compact 4.0 another for entity framework
    -->
    <add name="SessionDbContext" connectionString="metadata=res://*/Concrete.DbContext.SessionState.SessionDbModel.csdl|res://*/Concrete.DbContext.SessionState.SessionDbModel.ssdl|res://*/Concrete.DbContext.SessionState.SessionDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SessionDb;integrated security=True;Trusted_Connection=Yes;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- In Case migration on mdf Sql Server
     <add name="SecurityConnection" connectionString="data source=.;initial catalog=RailwayDb;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" /> -->
    <add name="SecurityConnection" connectionString="data Source=|DataDirectory|\SimpleMemberShipDb.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="SimpleMemberShipDbEntities" connectionString="metadata=res://*/Concrete.DbContext.Security.SimpleMemberShipDb.csdl|res://*/Concrete.DbContext.Security.SimpleMemberShipDb.ssdl|res://*/Concrete.DbContext.Security.SimpleMemberShipDb.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\SimpleMemberShipDb.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Enanble Route Debugger (Nuget packages)
    <add key="RouteDebugger:Enabled" value="true" />-->
    <add key="webpages:Version" value="2.0.0.0" />
    <!-- webPages:enabled with value false prevents .cshtml or .vbhtml files in the Views folder from being directly accessible from a web browser.-->
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <!--Have some problem (dateTime) in IE 8-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="autoFormsAuthentication" value="false" />
    <!--On/Off membership(HTTP Error 401.0 - Unauthorized)-->
    <add key="enableSimpleMembership" value="false" />
    <add key="loginUrl" value="~/Account/Login" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <!--Equal trust level on hosting by default-->
    <trust level="Full" />
    <!--<customErrors mode="On" defaultRedirect="~/Views/Errors.cshtml"/>-->
    <!--<customErrors mode="On" redirectMode="ResponseRewrite"/>
    <trace enabled="true" requestLimit="50" writeToDiagnosticsTrace="true"/>
    <error code="404" path="404.html" />
    <error code="500" path="500.html" />-->
    <globalization culture="ru-RU" uiCulture="ru" />
    <!--<globalization uiCulture="en-GB" culture="en-GB" />-->
    <identity impersonate="true" />
    <authentication mode="Windows" />
    <!--<authentication mode="Forms">
      <forms loginUrl="/Account/Login" timeout="10"/>
    </authentication>-->
    <!--denies access to the anonymous user-->
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <!--Step 1: registration SimpleMembership provider and role manager
    Install-Package WebMatrix.Data
    Install-Package WebMatrix.WebData
    -->
    <membership defaultProvider="SimpleMemberShipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" timeout="30" />
    <!--<sessionState mode="Custom" customProvider="DefaultSessionProvider">
        <providers>
          <add name="DefaultSessionProvider" connectionStringName="StateDb" type="System.Web.Providers.DefaultSessionStateProvider,System.Web.Providers, Version=2.0.0.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35" />
        </providers>
      </sessionState>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
        <add namespace="NaftanRailway.Domain.BusinessModels" />
      </namespaces>
    </pages>
  <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> --><httpModules>
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
        </httpModules><httpHandlers>
            <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
        </httpHandlers></system.web>
  <system.webServer>
    <!--Custom error
    errorMode="DetailedLocalOnly" (для сервера)
    Значение existingResponse="Replace" позволит отобразить ошибку по оригинальному запрошенному пути без переадресации.
    Атрибут responseMode может принимать три значения:
      ExecuteURL: производит рендеринг ответа полученного при вызове адреса url из атрибута path
      атрибут path - адрес url
      Redirect: выполняет переадресацию со статусным кодом 302
      File: рассматривает адрес url из атрибута path как статическую страницу и использует ее в качестве ответа
      
      Настройки элемента httpErrors могут наследоваться с других уровней, например, от файла конфигурации machine.config. 
      И чтобы удалить все унаследованные настройки, применяется элемент <clear />. Чтобы удалить настройки для отдельных ошибок, применяется элемент <remove />:
    -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
      <error statusCode="403" path="/Error/Forbidden" responseMode="ExecuteURL" />
    </httpErrors>
    <!--HTTP Error 404.15 - Not Found The request filtering module is configured to deny a request where the query string is too long.-->
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="10000" />
      </requestFiltering>
    </security>
    <!--PipeLine(HTTP Error 500.24 - Internal Server Error)-->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <remove name="UrlRoutingModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" /></modules>
    <staticContent>
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" /></handlers>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <alwaysFlowImpersonationPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
    <!--Configuration on App domain level => Logging SQL statements in Entity Framework with interception 
    (http://www.mortenanderson.net/logging-sql-statements-in-entity-framework-with-interception)-->
    <interceptors>
      <interceptor type="NaftanRailway.Domain.DbConfiguration.EFInterceptor, NaftanRailway.Domain.DbConfiguration">
      </interceptor>
    </interceptors>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
<!-- 
    For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
    or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
-->
</glimpse>
</configuration>