@model IEnumerable<NaftanRailway.WebUI.Areas.NomenclatureScroll.ViewsModels.QuickDialogMenuModel>
@{
    /*Consume Bootsrap gread system per element*/
    int widthGried = 12 / Model.Count();
}

<div data-bind="jqDialog: {state: dialog}, visible: dialog" id="jqDialog" class="row btn-group" role="group" aria-label="..." style="display: none;">
    @foreach (var item in Model) {
        <div class="col-lg-@widthGried" style="padding:1px;">
            @*@using (Html.BeginForm(item.RouteValues["actionName"].ToString(), item.RouteValues["controllerName"].ToString(), item.HtmlAttrs)) {
                    <input type="hidden" name="feeKey" class="feeKey" />
                        <input type="hidden" name="operation" value=@item.TypeOperation />
                    <input type="image" title="@item.Title"  name="imageQuickMenu" src=@item.Location alt="@item.Title" style="width: 5em; height: 5em;" />
                }*@
            <a class="thumbnail" data-bind="popover:{content: '@item.Title'}">
                <img src=@item.Location alt="@item.Title" class="img-circle">
            </a>
        </div>
    }
</div>