<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package Id="morelinq" version="2.10.0" targetFramework="net451" />
  <package Id="StyleCop.Analyzers" version="1.0.2" targetFramework="net451" developmentDependency="true" />
  <package Id="System.ValueTuple" version="4.4.0" targetFramework="net451" />
</packages>