@*@model NaftanRailway.Domain.BusinessModels.BussinesLogic.shippingInfoLine*@
@*@{
    Layout = null;
    int i = 0;
}
<style type="text/css">
    .checkBoxList{
        max-height: 175px;
        height: auto !important;
        height: 105px;
    }
</style>*@

@*@if (Model.wagonsNumbers !=null && Model.wagonsNumbers.Count > 0) {
    <label>@Html.DisplayNameFor(m => m.wagonsNumbers)</label>

    <div class="checkBoxList" style="overflow-y: scroll; width: auto; height: auto">
            @foreach (var w in Model.wagonsNumbers) {
                @Html.Partial("WagonsSummary",w,
                    new ViewDataDictionary{
                        {"index", i++}
                    })
            }
    </div>
}*@