@model NaftanRailway.Domain.BusinessModels.ShippingInfoLine
@{
    Layout = null;
    int i = 0;
}
<style type="text/css">
    .checkBoxList{
        max-height: 175px;
        height: auto !important;
        height: 105px;
    }
</style>

@*@if (Model.WagonsNumbers !=null && Model.WagonsNumbers.Count > 0) {
    <label>@Html.DisplayNameFor(m => m.WagonsNumbers)</label>

    <div class="checkBoxList" style="overflow-y: scroll; width: auto; height: auto">
            @foreach (var w in Model.WagonsNumbers) {
                @Html.Partial("WagonsSummary",w,
                    new ViewDataDictionary{
                        {"index", i++}
                    })
            }
    </div>
}*@