#Brand {
    width: auto;
    height: 3em;
    z-index: 10;
    top: 0; 
    left: 0; 
    background-color: transparent; 
    position:inherit;
}
/*head align*/
table>thead>tr>th,table>tbody>tr>td{
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}

