@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="Author" content="P.Chizhikov" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <base href="@(string.Format("{0}://{1}{2}/", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))" />
    <meta name="Description" content="Custom error page" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/CSSbundle")
    <link rel="shortcut icon" href="~/Content/Images/Gear.gif" type="image/x-icon" />
</head>
<body>
    <div class="container-fluid" id="httpErrorBody">@RenderBody()</div>
</body>