@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />
    <title>Произошла ошибка!</title>
</head>
<body>
    <h2>Ошибка 404. Ресурс не найден</h2>
</body>
</html>