@*@model string*@
@{
    Layout = "~/Views/Shared/_Layout.HttpErrors.cshtml";
    
}

<div class="row text-center">
    <div class="page-header">
        <h1>Уппс! <small>Внутреняя ошибка сервера</small></h1>
    </div>
    <div class="container-fluid">
        <img alt="http 500 error" src="~/Content/Images/500-Internal-Server-Error-Design-Inspiration.gif"/>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills col-md-4 col-lg-offset-5 panel-title" style="">
                <li role="presentation" class=""><a href="#"><span class="glyphicon glyphicon-home"></span> Главная страница</a></li>
                <li role="presentation"><a href="mailto:P.Chizhikov@naftan.by"><span class="glyphicon glyphicon-send"></span> Обратная связь</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-right">
            <span class="panel-title">Контактный тел. ##-##</span>
        </div>
    </div>
</div>