<table class="table">
    <thead>
        <tr><th>Наименование карточки</th><th>Тип документа</th><th>Код сбора</th><th>Наименование</th><th>Сумма без НДС</th><th>НДС</th><th>Сумма</th><th>Примечание</th></tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>