<div data-bind="modal: editModal, if: editModal(), visible: editModal()" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal">
    <div class="modal-dialog" role="document">
        <div data-bind="with: currChg" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 data-bind="text: 'Редактирование записи сбора №' + vidsbr() + ' по док. ' + nkrt() + ' за ' + moment(dt()).format('DD.MM.YYYY')" class="modal-title text-center" id="editModalLabel"></h5>
                <h6 data-bind="if: gruname().length > 0" class="text-center"><span data-bind="text: 'Груз: ' + gruname() + '.'"></span></h6>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-condensed table-striped table-bordered">
                        <thead class="tableHeader">
                            <tr><th>Источник</th><th>Сумма без НДС</th><th>НДС</th><th>Сумма</th><th>Примечание</th></tr>
                        </thead>
                        <tbody class="tableBody">
                            <tr>
                                <th>ОРЦ</th>
                                <td data-bind="text: sm_no_nds()"></td>
                                <td data-bind="text: sm_nds()"></td>
                                <td data-bind="text: sm()"></td>
                                <td data-bind="text: txt()" class="small"></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">САПОД</th>
                                <td class="col-lg-2"><input class="form-control input-sm" data-bind="textinput: summa, attr: {'value': summa()}" /></td>
                                <td class="col-lg-2"><input class="form-control input-sm" data-bind="textinput: nds, attr: {'value': nds()}" /></td>
                                <td class="col-lg-2"><input readonly class="form-control input-sm" data-bind="text: sapodTotalSum(), attr: {'value': sapodTotalSum}" /></td>
                                <td class="col-lg-4"><input class="form-control input-sm" data-bind="textinput: textm, attr: {'placeholder': textm(), 'value': textm()}" /></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer" style="display:inline-block; text-align:right;">
                <div class="input-group col-lg-4" style="float:left;">
                    <span data-bind="text: 'Общее кол-во: '" class="input-group-addon" id="addon"></span>
                    <input type="text" aria-describedby="addon" class="form-control" data-bind="textinput: kol, attr: {'placeholder': kol(), 'value': kol()}" />
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button data-bind="click: $parent.syncWithDB.bind($data,'@Url.Action("EditCharge","Scroll")')" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>