<div style="display: inline-block;" data-bind="foreach: filters">
    <select multiple="multiple" size="10" class="form-group form-control filters" type="search"
            data-bind="attr: {'id': 'filter' + $index()},
                       options: $data.AllAvailableValues, selectedOptions: $data.CheckedValues,
                       multiselect:{
                            allSelectedText: $data.NameDescription(),
                            buttonText: function (options, select) {
                                return $data.NameDescription() + ' (' + $data.CheckedValues().length + ' / ' +  $data.AllAvailableValues().length +')';
                            }
                       }">
    </select>
</div>
<button type="submit" class="form-control btn btn-primary" style="margin-left: 0.5em;">Фильтр</button>