<div style="display: inline-block;" data-bind="foreach: filters">
    <select multiple="multiple" size="10" class="form-group form-control filters" type="search"
            style="display: none"
            data-bind="attr: {'id': 'filter' + $index()},
                       options: $.map($data.valuesDictionary, function( key, val ) {
                            return { label: key(), value: val };
                       }),
                       optionsText: 'label',
                       optionsValue: 'value',
                       selectedOptions: $data.checkedValues,
                       multiselect:{
                           @*dataprovider: [
                                {label: 'Option 1', title: 'Option 1', value: '1', selected: true},
                                {label: 'Option 2', title: 'Option 2', value: '2'},
                                {label: 'Option 3', title: 'Option 3', value: '3', selected: true},
                                {label: 'Option 4', title: 'Option 4', value: '4'},
                                {label: 'Option 5', title: 'Option 5', value: '5'},
                                {label: 'Option 6', title: 'Option 6', value: '6', disabled: true}
                            ],*@
                            allSelectedText: $data.nameDescription,
                            buttonText: function (options, select) {
                                return $data.nameDescription() + ' (' + $data.checkedValues().length + ' / ' +  $data.allAvailableValues().length +')';
                            },
                            @*optionLabel: function (element){
                                return $(element).html() + '(' + $(element).val() + ')';
                            }*@
                       }"></select>
</div>
<button type="submit" class="form-control btn btn-primary col-lg-2 pull-right" style="margin-left: 0.5em;">Фильтр</button>