@model IEnumerable<NaftanRailway.WebUI.Areas.NomenclatureScroll.Models.CheckListFilterModel>
@{
    int i = 0;
}
@foreach (var item in Model) {
    var menuItem = item;
    <div id=@(menuItem.SortFieldName + "block") style="display: inline-block; float: left;">
        @Html.Hidden("filters[" + i + "].ActiveFilter", item.ActiveFilter)
        @Html.Hidden("filters[" + i + "].SortFieldName", item.SortFieldName)
        @Html.Hidden("filters[" + i + "].NameDescription", item.NameDescription)
        @Html.DropDownList("filters[" + (i++) + "].CheckedValues",
            from listItem in item.AllAvailableValues
            select new SelectListItem() {
                Value = listItem, Text = listItem, Selected = menuItem.CheckedValues.Contains(listItem)
            },
            //new MultiSelectList(item.AllAvailableValues, "string", "string", item.CheckedValues),
            new { @class = "form-group form-control filters", type = "search", multiple = "multiple", id = menuItem.SortFieldName })
    </div>
}