<div data-bind="modal: searchModal, visible: searchModal()" class="modal fade bs-example-modal-lg" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #337AB7; padding:16px 16px; color:#FFF; border-bottom:2px dashed #337AB7;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 data-bind="text: 'Расширенный поиск:'" class="text-center"></h4>
            </div>
            <div class="modal-body">
                <div data-bind="if: treeStructure().length > 0" class="container-fluid" style="display: flex; height: 50em;">
                    <div data-bind="treeView: {
                                    dataSource: getTreeJson(),
                                    textField: 'label'
                         }"
                         id="treeFilter"
                         style="overflow-y: scroll; height: 100%;">
                    </div>
                    <div data-bind="if: filters().length > 0"
                         stlyle="display: inline-block; font-size: .3em; font-family: Verdana, Arial, Helvetica, sans-serif;"
                         id="cutomsFilter">
                        @*@{ Html.RenderPartial("_FilterMenu"); }*@
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: inline-block; text-align: right;">
                <div class="input-group col-lg-4" style="float: left;">
                    <span data-bind="text: 'Общее кол-во перечней: ' + treeStructure().length" class="input-group-addon" id="addon"></span>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Выбрать</button>
            </div>
        </div>
    </div>
</div>