<div data-bind="modal: searchModal, if: searchModal(), visible: searchModal()" class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
    <div class="modal-dialog" role="document">
        <div data-bind="" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="label text-center"><span data-bind="text: 'Расширенный поиск:'"></span></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div data-bind="if: filters().length > 1" id="cutomsFilter">
                        <!-- ko if: filters().length > 0 -->
                        @{ Html.RenderPartial("_FilterMenu"); }
                        <!-- /ko -->
                    </div>
                    <hr />
                    <div id="treeFilter"></div>
                </div>
            </div>
            <div class="modal-footer" style="display: inline-block; text-align: right;">
                <div class="input-group col-lg-4" style="float:left;">
                    <span data-bind="text: 'Общее кол-во: '" class="input-group-addon" id="addon"></span>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Выбрать</button>
            </div>
        </div>
    </div>
</div>