<!--Date Modal-->
<div data-bind="modal: $root.estimatedModal, if: $root.estimatedModal(), visible: $root.estimatedModal()"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="estimatedModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center" id="estimatedModalLabel"
                    data-bind="text: 'Ожидается прибытие ' + $root.estCarriages().length + ' вагонов.'"></h4>
            </div>
            <div class="modal-body text-center">
                <table class="small table table-hover table-responsive table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Номер вагона/ контейнера:</th>
                            <th>Время операции:</th>
                            <th>Наименование груза:</th>
                            <th>Вес:</th>
                        </tr>
                    </thead>
                    <tbody id="estimatedBody" data-bind="foreach: $root.estCarriages">
                        <tr>
                            <td><label data-bind="text: $data.Carriage.in_vgn()"></label></td>
                            <td><label data-bind="text: moment($data.Carriage.time_oper()).format('DD.MM.YYYY HH:mm')"></label></td>
                            <td class="small"><label data-bind="text: $data.Cargo()"></label></td>
                            <td><label data-bind="text: $data.Carriage.ves_gruz()"></label></td>
                        </tr>
                    </tbody>
                </table>

                <!--Alternative source-->
                <table class="small table table-hover table-responsive table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Номер вагона/ контейнера:</th>
                            <th>Время операции:</th>
                            <th>Наименование груза:</th>
                            <th>Вес:</th>
                        </tr>
                    </thead>
                    <tbody id="estimatedBody" data-bind="foreach: $root.estCarriages">
                        <tr>
                            <td><label data-bind="text: $data.AltCarriage.n_vag()"></label></td>
                            <td><label data-bind="text: moment($data.AltCarriage.date_oper_v()).format('DD.MM.YYYY HH:mm')"></label></td>
                            <td class="small"><label data-bind="text: $data.AltCargo()"></label></td>
                            <td><label data-bind="text: $data.AltCarriage.massa_t()"></label></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>