@*@model string*@
<!--Date Modal-->
<div data-bind="modal: $root.notFoundModal, if: $root.notFoundModal(), visible: $root.notFoundModal()"
     class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="previewDeliveryModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="gridSystemModalLabel">Не найдено информации!</h3>
            </div>
            <div class="modal-body text-center">
                <img src=@Url.Content("~/Content/images/NotFound.png") alt="Не найдено совпадений" style="width: 15em; height: 15em" />
                <div data-bind="text: $root.invoice()=== undefined ? 'Введите верный номер накладной!'  : 'Нет информации по накладной №' + $root.invoice()"
                     class="row text-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>