@*@model IEnumerable<ShippingDTO>*@
@{
    Layout = null;
    //int i = (int)(ViewData["index"] ?? 0);
}

<div data-bind="foreach: $root.dispatchs(), visible: true, css: { overlayTable: $root.loadingState(), display: 'inline-block'}," style="display:none;">
    <div class="panel panel-default col-lg-12"
         data-bind="attr: {id: 'myPanel' + $index()},
                    event: {mouseover: $data.selected.bind($data,true), mouseout: $data.selected.bind($data,false) },
                    css: {'panel-primary' :  $data.selected(), 'panel-default':  !$data.selected()}">
        <div class="panel-heading small row small">
            <div class="col-lg-2 row">
                <ul class="list-inline text-capitalize">
                    <li class="panel-title">
                        <span data-bind="css: $data.directionGlyphicon()"></span>
                        <a data-bind="popover: {content: 'Нажмите, чтобы отобразить доп. информацию'},
                           attr: {'href': '#' + $index()}, text: $data.shInfoExists() ? $data.VOtpr.n_otpr() : 'Доп. сбор'" data-toggle="collapse"></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 row">
                <!-- ko if: $data.shInfoExists -->
                <ul class="list-inline text-center">
                    <li><strong>От: </strong><span data-bind="text: $data.fullNameSender()"></span></li>
                    <li><span class="glyphicon glyphicon-arrow-right"></span></li>
                    <li><strong>Кому: </strong><span data-bind="text: $data.fullNameReceiver()"></span></li>
                    <li><strong>Груз: </strong><span data-bind="text: $data.Etsng.name() + '(ЕТСНГ: ' + $data.Etsng.etsng1() + ')'"></span><span class="small"></span></li>
                    <li><strong>Склад: </strong><span data-bind="text: $data.Guild18.warehouse()"></span></li>
                </ul>
                <!-- /ko -->
                <!-- ko ifnot: $data.shInfoExists -->
                <p data-bind="text:$data.KNaftan()[0].U_KOD() === 2 ? 'Багаж ст. Витебск' : 'Прохождение проверки знаний'"
                   style="font-size: 1.5em; vertical-align: middle; text-align: center;">
                </p>
                <!-- /ko -->
            </div>
            <div data-bind="popover: {content: 'Удалить информацию по накладной?'}" class="col-lg-0 text-right pull-right">
                <button data-bind="click: $root.deleteInvoice.bind($data, { url : '@Url.Action("DeleteDocInfo", "Ceh18")'}),
                               attr: {'id' : 'btn' + $index()}" class="btn btn-sm btn-link btn-warning">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <div data-bind="collapse: {},attr: {id : $index()}" class="collapse row">
            <div class="panel-body">
                <ul class="list-inline text-center small">
                    <li data-bind="if: $data.VKarts().length > 0">
                        <strong>Накопительные карточки:</strong><span data-bind="text: $data.cardList()"></span>
                    </li>
                    <li data-bind="if: $data.KNaftan().length > 0">
                        <strong>Перечни:</strong><span data-bind="text: $data.scrollList()"></span>
                    </li>
                    <!-- ko if: $data.shInfoExists() -->
                    <!-- ko if: $data.Vovs().length > 0 -->
                    <li><strong>Вагон(ы) №:</strong><span data-bind="text: $data.carriageList()"></span></li>
                    <!-- /ko -->
                    <li data-bind="if: $data.VPams().length > 0">
                        <strong>Ведомости:</strong><span data-bind="text: $data.statementList()"></span>
                    </li>
                    <li data-bind="if: $data.VAkts().length > 0">
                        <strong>Акты:</strong><span data-bind="text: $data.actList()"></span>
                    </li>
                    <!-- ko if: $data.shInfoExists() -->
                    <li data-bind="visible: $data.VOtpr.g6().length > 0"><strong>Договор:</strong><span data-bind="text: $data.VOtpr.g6()"></span></li>
                    <li data-bind="visible: $data.VOtpr.g11().length > 0"><strong>Описание:</strong><span data-bind="text: $data.VOtpr.g11()"></span></li>
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
            <div class="panel-footer small">
                <ul class="list-inline">
                    <!-- ko if: $data.shInfoExists() -->
                    <li class="pull-left">
                        <span data-bind="text: $data.VOtpr.oper() === 1 ? 'Отправка' : 'Прибытие'"></span>
                        <span data-bind="text: $data.VOtpr.date_oper() !== undefined ? moment($data.VOtpr.date_oper()).format('DD.MM.YYYY') : 'Не указана' "></span>
                    </li>
                    <li data-bind="text: $data.VOtpr.fio_tk()" class="pull-right"></li>
                    <!-- /ko -->
                    <!-- ko if: $data.shInfoExists() === false -->
                    <li class="pull-left">
                        <span>Дополн. сбор</span>
                        <span data-bind="text: $data.scrollList().length > 0 ? '' : 'Не указана'"></span>
                        <span data-bind="text: $data.scrollListDate().length > 0 ? $data.scrollListDate() : 'Не указана'"></span>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</div>