@model DispatchListViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = @"Номер отправки";
}
<div class="row" id="infoArea">
    @{Html.RenderPartial("ShippingSummary", Model) ;}
</div>