@*@model DispatchListViewModel*@
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = @"Номер отправки";
}

<!-- ko with: $root.alert -->
<div data-bind="alert: {statusMsg: statusMsg, alertType: alertType, mode: mode},
                css: 'alert fade in ' + alertType()"
     style="display: none">
</div>
<!-- /ko -->

<div data-bind="visible: true" class="container-fluid" id="koContainer" style="display: none;">
    @{Html.RenderPartial("shippingSummary");}

    @{Html.RenderPartial("_DeliveryPreviewModal");}
    @{Html.RenderPartial("_NotFoundModal");}
    @{Html.RenderPartial("_EstimatedModal");}
</div>

@section Scripts {
    <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/UserRail")
    <![endif]-->
    <!--[if !IE 8]><!-->
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/UserRail")
    <!--<![endif]-->
}