@*@model DispatchListViewModel*@
@{
    Layout = null;
    //var i = (Model.pagingInfo.currentPage - 1) * Model.pagingInfo.itemsPerPage;
}
<div id="categories" class="col-lg-2 hidden-xs">
    @{Html.RenderAction("MenuTypeOperations", "Navigation");}
</div>

<div class="col-xs-12 col-lg-10">
    <!--body summary.cshtml -->
    <div class="panel-group col-lg-12" id="Areadispatchs">
        @{Html.RenderPartial("dispatchs");}
    </div>

    <!--pagging -->
    @{Html.RenderPartial("ShPagging");}
</div>