@*@model DispatchListViewModel*@
@{
    Layout = null;
}
<!--use extention for mvc-->
@*@if (Model.pagingInfo.totalItems > 0) {
    <div class="btn-group hidden-xs">
        @Html.AjaxPageLinks(Model.pagingInfo, 21, x => Url.RouteUrl("Period",
            new RouteValueDictionary(){
                {"page", x},
                {"operationCategory", Model.OperationCategory},
                {"reportPeriod", Model.Menu.ReportPeriod.ToString("MMyyyy")},
            }), new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "#infoArea" })
    </div>
    <div class="btn-group pull-right visible-xs">
        @Html.AjaxPageLinks(Model.pagingInfo, 10, x => Url.RouteUrl("Period",
            new RouteValueDictionary(){
                {"page", x},
                {"operationCategory", Model.OperationCategory},
                {"reportPeriod", Model.Menu.ReportPeriod.ToString("MMyyyy")},
            }), new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "#infoArea" })
    </div>
}*@

<div class="navbar navbar-inverse navbar-fixed-bottom" style="display: none;"
     data-bind="with: $root, visible: true, css:{'display': 'table-footer-group'}">
    <div class="container-fluid">
        <label class="col-lg-3 control-label nav navbar-text">&copy; @DateTime.Now.Year ОАО "Нафтан"</label>

        <div data-bind="with: $parent" class="col-lg-6 text-center" aria-label="...">
            <ul class="pager" style="margin-top: 0.6em;">
                <li data-bind="popover: { content: 'Назад'}, css: {disabled : pagging().currentPage() <= 1 }">
                    <a data-bind="attr: {'href': pagging().getPageUrl() + (pagging().currentPage() === 1 ? 1 : pagging().currentPage() - 1)},
                                  click: pagging().previousPage, clickBubble: false">
                        <span aria-hidden="true">&larr;</span>
                    </a>
                </li>
                <li data-bind="text: pagging().currentPage() + ' из ' + pagging().allPages().length" class="label"></li>

                <li data-bind="popover: { content: 'Вперед'}, css: {disabled : pagging().currentPage() === pagging().allPages().length}">
                    <a data-bind="attr: {'href': pagging().getPageUrl() + (pagging().currentPage() === pagging().allPages() ? pagging().allPages() : pagging().currentPage() + 1)},
                                  click: pagging().nextPage, clickBubble: false">
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </div>

        <div data-bind="with: $parent, popover: { content: 'Количество записей на странице'}" class="navbar-form pull-right">
            <select data-bind="value: itemsPerPage, event: {change: changeCountPerPage}"
                    class="form-control" name="perPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>
</div>