<table id="detailsTable" class="small table table-hover table-responsive table-striped table-condensed table-bordered">
    <caption>
        <h3 data-bind="With: $root" class="text-center">
            <span data-bind="text: 'Перечень №' + currScr().NKRT()"></span>
            <br />
            <span class="small" data-bind="text: 'поступил в электронном виде из ОРЦ ' + moment(currScr().DATE_OBRABOT()).format('DD MMMM YYYY г.')"></span>
            <span class="small" data-bind="text: 'Общее кол-во сборов по перечню: ' + currScr().RecordCount() + ' шт.'"></span>
            <br />
        </h3>
    </caption>
    <thead class="tableHeader">
        <tr>
            <th data-bind="tooltip:{title: 'NKRT'}">Карточка<br /></th>
            <th data-bind="tooltip:{title: 'tdoc'}">Тип</th>
            <th data-bind="tooltip:{title: 'vidsbr'}">Код<br />сбора</th>
            <th data-bind="tooltip:{title: 'gruname'}">Наименование<br />груза</th>
            <th data-bind="tooltip:{title: 'TD'}">Дата<br />требования</th>
            <th data-bind="tooltip:{title: 'date raskr'}">Дата открытия<br /></th>
            <th data-bind="tooltip:{title: 'NOMOT'}">Документ<br />ОРЦ</th>
            <th>Сумма<br />без НДС</th>
            <th>НДС</th>
            <th>Сумма</th>
            <th>Ставка<br /> НДС</th>
            <th>Комментарий<br />OРЦ</th>
            <th data-bind="tooltip:{title: 'ID_ED'}">Индификатор<br />ОРЦ</th>
            <th data-bind="tooltip:{title: 'kol'}">Кол-во</th>
        </tr>
        <!--Grid filter-->
        <tr class="filter-menu">
            <th data-bind="with: $root.scrollDetails" colspan="19">
                @using (Html.BeginForm("ScrollDetails", "Scroll", FormMethod.Post, new { @class = "form-inline", data_bind = "submit: applyFilter" })) {
                    @*<input type="checkbox" class="form-control col-lg-1" value="false" />*@
                    @*@Html.CheckBox("isNewlyEnrolled", true, new { @class = "form-control" })*@
                    @Html.AntiForgeryToken();
                    { Html.RenderPartial("_FilterMenu"); }
                    <div class="btn-group" role="group" aria-label="...">
                        <button data-bind="popover:{content: 'Отобразить записи только с ошибками (крс - ошибки, синий - все записи)'},
                                           click: function(){
                                                    viewWrong(!viewWrong());
                                                    applyFilter('@Url.Action("ScrollDetails", "Scroll")');
                                            },
                                           css: { 'btn-danger' : viewWrong }" type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                    </div>
                }
            </th>
        </tr>
    </thead>
    <!-- ko with: $root.scrollDetails -->
    <tbody data-bind="foreach: charges(), visible: true, css:{overlayTable: $root.loadingState()}" style="display: none;" class="text-center" id="chargeOfList">
        @{ Html.RenderPartial("_KrtNaftan_ORC_SAPODRows");}
    </tbody>
    <!-- /ko -->
</table>
<!-- ko with: $root.scrollDetails -->
@{ Html.RenderPartial("_GridButtomKO");}
@{ Html.RenderAction("OperationQuickMenu", "UserInterface", new { area = "NomenclatureScroll" });}
@{ Html.RenderPartial("_EditRowsModal");}
@*@{ Html.RenderPartial("_ChainRowsModal");}*@
<!-- /ko -->