<table data-bind="visible: true" style="display:none" id="nomenclatureTable" class="small table table-hover table-responsive table-striped table-condensed table-bordered">
    <caption class="text-center">
        <form class="form-inline">
            <div class="form-group form-group-lg">
                <p class="form-control-static">Таблица перечней за</p>
            </div>
            <div class="form-group">
                <select data-bind="options: $root.wrkPeriods,
                                   value: $root.wrkSelPeriod,
                                   optionsCaption: 'Всё время',
                                   optionsText: function(item) {
                                       return moment(item).format('MMMM YYYY');
                                   },
                                   event: {change: $root.changePeriodMonth}"
                        class="form-control"></select>
            </div>
            <button data-bind="click: $root.addvanceFilters.bind($data)" type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </form>
    </caption>
    <colgroup id="selectCols" span="2">
        <col id="radioSel" span="1" />
        <col id="paramSel" span="1" />
    </colgroup>
    <thead class="tableHeader">
        <tr>
            <!--Don't work external CSS(questaion in enfluens bootstrap classes)-->
            <th colspan="2" scope="colgroup">Номер перечня</th>
            <th scope="col">Результат<br />сверки</th>
            <th scope="col">Признак<br />коррект.<br />перечня</th>
            <th scope="col">Вид<br />услуг</th>
            <th scope="col">Период<br />отчётности<br />ОРЦ</th>
            <th scope="col">№ счёт-<br />фактуры</th>
            <th scope="col">Дата счёт-<br />фактуры</th>
            <th scope="col">Стоимость услуг<br />с НДС, руб.</th>
            <th scope="col">НДС, руб.</th>
            <th scope="col">Начальная<br />дата<br />данных</th>
            <th scope="col">Конечная<br />дата<br />данных</th>
            <th scope="col">Список кодов сборов по услугам в перечне</th>
            <th scope="col">Число<br />записей в перечне</th>
            <th scope="col">Дата эл. письма ОРЦ</th>
            <th scope="col">Текущая версия</th>
            <th data-bind="tooltip:{title: 'Конфигурация'}" scope="col"><span style="font-size: 2em;" class="glyphicon glyphicon-cog"></span></th>
        </tr>
    </thead>
    <tbody style="display: none; margin-top: 6.5em;"
           data-bind="foreach: $root.scrolls(),
                      visible: true,
                      css: { overlayTable: $root.loadingState(), display: 'inline-block'},
                      scroll: { icon: '@Url.Content("~/Content/images/toTop.png")' }"
           class="tableBody" id="scrollList">
        @{ Html.RenderPartial("_krtNaftanRows");}
    </tbody>
</table>

@{ Html.RenderPartial("_GridButtomKO");}
@{ Html.RenderPartial("_SearchModal");}

<!--Don't support in partial view (this html helper alternative-->
@*@Html.Script(@<script type="text/javascript" src="~/Scripts/NomenclatureJs/_Scrolls.js" defer></script>)*@