<!-- ko if: $data.proccessingState() -->
<tr class='load'>
    <td class='text-center' data-bind="text:'Загрузка сборов перечня... №' + $data.nkrt(), attr:{'colspan':'17'}"></td>
</tr>
<!-- /ko -->

<tr class="parent"
    data-bind="click: $root.chooseScr, clickBubble: $root.loadingState(),
               css: {'success': confirmed() === false,'info' : $root.currScr().keykrt() === $data.keykrt() }">
    <td>
        <input data-bind="click: $root.chooseScr, checked: $root.currScr().keykrt(), checkedValue: keykrt()" type="radio" name="optionsRadios" />
    </td>
    <td data-bind="text: $data.nkrt()" class="numberScroll"></td>
    <td>
        <img style="width: 24px; height: 24px"
             data-bind="popover:{title: 'Статус обработки', content: errorState() === 1 ? 'Ok' : errorState() === 2 ? 'В карточке произведена корректировка' : errorState() === 0 ? 'Ошибка' : 'Не подтверждено', placement: 'right'},
                attr: {'src': '@Url.Content("~/Content/Images/")' +  (errorState() === 1 ? 'good_or_tick.png' : errorState() === 2 ? 'repair.png' : errorState() === 0 ? 'no.png' : 'Unkomplete2.png'),
                               'alt' : errorState() === 1 ? 'Ok' : errorState() === 2 ? 'tdoc = 0' : errorState() === 3 ? 'Ошибка' : 'Не подтверждено'}" />
    </td>
    <td class="singCorrection"><span data-bind="css: {'glyphicon glyphicon-ok': $data.signAdjustment_list()}"></span></td>
    <td data-bind="popover: { content: p_TYPE() === 's' ? 'Провозные' : 'Дополнительные'}, text:p_TYPE()"></td>
    <td data-bind="tooltip: { title: 'Изменить отчётный период?', selState:  $root.currScr().keykrt() === $data.keykrt() },
                   click: $root.periodModal.active.bind($data,true),
                   text: moment(dtbuhotchet()).format('MMMM YYYY'),
                   css: { hover: $root.currScr().keykrt() === $data.keykrt() }"
        style="word-break: break-word; width: 1em;"></td>
    <td data-bind="text: ntreb()"></td>
    <td data-bind="text: moment(dttreb()).format('DD.MM.YYYY')"></td>
    <td data-bind="text: smtreb().toLocaleString(['ban', 'id'])" class="currencyField text-right"></td>
    <td data-bind="text: ndstreb().toLocaleString(['ban', 'id'])" class="currencyField text-right"></td>
    <td data-bind="text: moment(startDate_PER()).format('DD.MM.YYYY')"></td>
    <td data-bind="text: moment(endDate_PER()).format('DD.MM.YYYY')"></td>
    <td data-bind="text: scroll_Sbor().split(',').join(', ')"></td>
    <td data-bind="text: recordCount()"></td>
    <td data-bind="text: moment(datE_OBRABOT()).format('DD.MM.YYYY HH:MM:SS')"></td>
    <td><span data-bind="text: counterVersion(), visible: counterVersion() > 1"></span></td>
    <td style="white-space: nowrap">
        <button data-bind="click: $root.viewScrDetails.bind($data,'@Url.Action("ScrollDetails", "Scroll")' + '/' + $data.srcKey()), clickBubble: false, popover:{content: 'Просмотреть сборы по перечню'}"
                type="button" aria-label="info"
                class="btn btn-sm btn-info">
            <span class="glyphicon glyphicon-list-alt"></span>
        </button>
        <button data-bind="click: $root.registrationScr.bind($data, '@Url.Action("Confirmed", "Scroll")' + '/' + $data.srcKey()), clickBubble: false, popover:{content: 'Подтвердить перечень'}"
                type="button" aria-label="delete"
                class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span>
        </button>
        <button data-bind="click: $root.removeSrc.bind($data, '@Url.Action("Delete", "Scroll")'), clickBubble: false, popover: {content: 'Удалить информацию о перечне и всёх сборах по нему'}"
                type="button" aria-label="delete"
                class="btn btn-sm btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>