@model string
@{   
    ViewBag.Title = "Отчёт об сверки";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="">
<iframe style="width: 100%; height: 100vh; min-height: 1024px; margin-top: -1.8%;"src='@Model'>
    Your browser doesn't support iFrames.
</iframe>
</div>

 

