@{
    ViewBag.Title = ViewBag.Title ?? @"Сборы по перечням";
    Layout = "../Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(true);
}
<div id="ScrollTable">@{ Html.RenderPartial("_AjaxTableKrtNaftan_ORC_SAPOD");}</div>

<!--Quick Menu -->
@{Html.RenderAction("OperationQuickMenu", "UserInterface", new { area = "NomenclatureScroll" });}