@model NaftanRailway.WebUI.Areas.NomenclatureScroll.Models.DetailModelView
@{
    ViewBag.Title = ViewBag.Title ?? "Сборы по перечням";
    Layout = "../Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(true);
}
<div id="ScrollTable">@{ Html.RenderPartial("_AjaxTableKrtNaftan_ORC_SAPOD", @Model);}</div>
<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="operationScrollModal"></div>          