<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net451" />
  <package Id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package Id="FluentAssertions" version="5.1.2" targetFramework="net451" />
  <package Id="Moq" version="4.8.2" targetFramework="net451" />
  <package Id="morelinq" version="2.10.0" targetFramework="net451" />
  <package Id="Newtonsoft.Json" version="11.0.1" targetFramework="net451" />
  <package Id="NUnit" version="3.9.0" targetFramework="net451" />
  <package Id="StyleCop.Analyzers" version="1.0.2" targetFramework="net451" developmentDependency="true" />
  <package Id="System.Data.SQLite" version="1.0.107.0" targetFramework="net451" />
  <package Id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net451" />
  <package Id="System.Data.SQLite.EF6" version="1.0.107.0" targetFramework="net451" />
  <package Id="System.Data.SQLite.Linq" version="1.0.107.0" targetFramework="net451" />
  <package Id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net451" />
  <package Id="System.ValueTuple" version="4.4.0" targetFramework="net451" />
</packages>