<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net451" />
  <package Id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package Id="LinqKit" version="1.1.12" targetFramework="net451" />
  <package Id="log4net" version="2.0.8" targetFramework="net451" />
  <package Id="Ninject" version="3.3.4" targetFramework="net451" />
  <package Id="StyleCop.Analyzers" version="1.0.2" targetFramework="net451" developmentDependency="true" />
</packages>